/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {
  outdir = './'
}


profiles {

    standard {
        process.executor = 'local'
    }

    pbs {
        process {
            executor = 'pbs'
            queue = 'batch'
            withName: QC {
              cpus=8
              memory = '24GB'
            }
            withName: mapping {
              cpus=8
              memory = '24GB'
            }
            withName: quantify {
              cpus=8
              memory = '24GB'
            } 
            withName: calling {
              cpus=8
              memory = '24GB'
            }  
        }
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }

}


timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"

}


